img {
  margin:auto;
  width: 70%;
height:auto;
display: block;
}
h1, h2, h3, h4, h5 , h6, h7{
  text-align:center;
}
h2{
   font-size:19px;
  
}

 h5,h4,h6,h7  {
   font-size:16px;
}
#image {
  max-width: 100%;
}
html{
  background-color:teal
}
